:root {
   /* BACKGROUND */
   --background-primary: #F4F5FB;
   --background-secondary: #FFFFFF;

   /* COLOR */
   --color-brand: #CA3884;
   --color-brand-hover: #A52C6B;
   --color-danger: #C93847;

   /* CONTENT */
   --content-primary: #080B12;
   --content-secondary: #374151;
   --content-tertiary: #9CA3AF;
   --always-white: #FFFFFF;

   /* BORDER */
   --border-primary: #D1D5DB;
   --birder-hover: #B9C2D0;

   /* TIPOGRAPHY */
   --title: 700 1.5rem/2rem "Inter", sans-serif;
   --label: 600 1rem/1.25rem "Inter", sans-serif;
   --parag: 500 1rem/1.25rem "Inter", sans-serif;
   --link : 500 0.875/1rem "Inter", sans-serif;
}

#alert-message {
  transition: all 1000ms ease;
}

.hidden-message {
  opacity: 0;
  pointer-events: none;
}

.remove-button {
  cursor: pointer;
}